body {
    background-color: #f0f0f0; /* En lysere grå farve for at give et mere behageligt udseende */
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    align-items: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tilføjer en let skygge for at adskille topmenuen fra baggrund */
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid white;
    transition: background 0.3s, color 0.3s; 
}

.topnav a:hover {
    background: #555; 
    color: white;
}

.topnav a:active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}
